.apexcharts {
	&-zoom-in-icon { font-size: 25px; }
	&-zoom-out-icon { font-size: 25px; }
	&-zoom-icon { font-size: 25px; }
	&-pan-icon { font-size: 30px; }
	&-reset-zoom-icon { font-size: 22px; }
	&-menu-icon { font-size: 24px; }
}
