$fade-color: rgba(#fff, 0.9);
$spinner-speed: 1s;

.loading {
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #461ea3;
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 5px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    background: $fade-color;
    box-shadow: 0 0 0 100vw $fade-color;
    margin: -20px 0 0 -20px;
    animation: loading-spin $spinner-speed infinite linear;
    z-index: 3;
  }
}

@keyframes loading-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
