@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700,900&display=swap');

h1 {
  font-size: 1.7em;
  font-weight: 900;
  line-height: 1.3em;
  text-transform: uppercase;

  em {
    display: block;
    font-size: 0.4em;
    line-height: 1em;
  }
}

h2 {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 10px;

  .icon {
    color: #461ea3;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 5px;
    vertical-align: top;
  }
}

h3 {
  font-size: 0.9em;
  font-weight: 700;
  margin: 15px 0 5px;
  text-transform: uppercase;
}

p {
  margin: 10px 0;

  &.note {
    opacity: 0.5;
    font-size: 0.8em;
  }
}
