// Base
$base__font-family: 'Nunito Sans';
$base__font-size: 14px;

// Grid System
$grid__columns: 12;
$grid__gap: 10px;

:root {
    --color-primary: #317bbc;
    --color-secondary: #84c3fa;
    --color-light: #d2d2d2;
}